NEXT_PUBLIC_API_URL=http://your-api-url
NEXT_PUBLIC_APP_NAME=Admin Dashboard
NEXT_PUBLIC_BASE_DOMAIN=laratenant.local
NEXT_PUBLIC_SITE_URL=http://laratenant.local:3000
NEXT_PUBLIC_STOREFRONT_RUNTIME_VERSION=2026-06-26
API_URL=http://your-api-url
